<div class="col-md-3">
    <div class="thumbnail" style="border: 0px;">
    <img src="http://photographyinspired.com/media/2014/08/Cool-Cat-Facebook-Profile-Timeline-Cover-Ultimate-Collection-Of-Top-50-Best-Cute-Facebook-Cover-For1.jpg" alt="profile">
    <div class="caption">
    <h2 class="lead" style="margin-bottom:5px;">Hi I'm </h2>
    <h3 style="margin-top: 5px;">{{ user.last_name | uppercase }}, {{ user.first_name | uppercase }}</h3>
    <p><i class="glyphicon glyphicon-envelope"></i> {{ user.email }}</p>
    <p>
        <a href="profile/{{user.id}}" class="btn btn-info" role="button"><i class="glyphicon glyphicon-user"></i>My profile</a>
    </p>
    </div>
    </div>
</div>
<div class="col-md-8" style="border-left: 1px solid #ddd; min-height: 100vh;">
    <div class="row">
        <div class="col-md-12">
            <div ng-show="success != undefined">
                <div class="alert alert-success" role="alert">
                    {{ success }}
                </div>
            </div>
            <h1 class="lead">Nice to meet you, let's keep in touch.</h1>
        </div>
    </div>

    <div ng-show="errors.length > 0">
        <div class="alert alert-danger" role="alert">
            <div ng-repeat="msg in errors">{{ msg }}</div>
        </div>
    </div>

    <form class="form-group" ng-submit="message(formdata)">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-asterisk"></i></span>
        <input class="form-control" type="text" ng-model="formdata.name" name="user" placeholder="Name">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
        <input class="form-control" type="text" ng-model="formdata.email" name="user" placeholder="Email">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-asterisk"></i></span>
        <input class="form-control" type="text" ng-model="formdata.subject" name="user" placeholder="subject">
    </div>
    <br>
    <label for="description">message</label>
    <textarea ng-model="formdata.message"  id="description" class="form-control"></textarea>
    <br>
    <button type="submit" name="login" class="btn btn-primary"><i class="glyphicon glyphicon-send"></i> SEND</button>
    </form>
</div>
