<div class="col-md-3">
    <div class="thumbnail" style="border: 0px;">
    <img src="https://organicthemes.com/demo/profile/files/2012/12/profile_img.png" alt="profile">
    <div class="caption">
    <h2 class="lead" style="margin-bottom:5px;">Hi I'm </h2>
    <h3 style="margin-top: 5px;">{{ user.last_name }}, {{ user.first_name }}</h3>
    <p><i class="glyphicon glyphicon-envelope"></i> {{ user.email }}</p>
    <p>
        <a href="profile/{{user.id}}" class="btn btn-info" role="button"><i class="glyphicon glyphicon-user"></i>My profile</a>
    </p>
    </div>
    </div>
</div>
<div class="col-md-8" style="border-left: 1px solid #ddd; min-height: 100vh;">
    <div class="row">
        <div class="col-md-12">
            <h1 class="lead">Nice to meet you, let's keep in touch.</h1>
        </div>
    </div>
    
    <form class="form-group" ng-submit="portfolio.edit(formdata)">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-tag"></i></span>
        <input class="form-control" type="text" ng-model="formdata.title" name="user" placeholder="title">
    </div>
    <br>
    <label for="description">Description</label>
    <textarea ng-model="formdata.description"  id="description" class="form-control"></textarea>

    <br>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-usd"></i></span>
        <input class="form-control" type="text" ng-model="formdata.price" name="price" placeholder="0.00">
    </div>
    <br>
    <img ng-show="formdata.images[0] != '' "src="{{formdata.images[0]}}" alt="">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-link"></i></span>
        <input class="form-control" type="text" ng-model="formdata.images[0]" name="pass" placeholder="image url">
    </div>
    <img ng-show="formdata.images[1] != '' "src="{{formdata.images[1]}}" alt="">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-link"></i></span>
        <input class="form-control" type="text" ng-model="formdata.images[1]" name="pass" placeholder="image url">
    </div>
    <br>
    <button type="submit" name="login" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> Save Changes</button>
    </form>
</div>
