<div class="col-md-3">
    <div class="thumbnail" style="border: 0px;">
    <img src="https://organicthemes.com/demo/profile/files/2012/12/profile_img.png" alt="profile">
    <div class="caption">
    <h2 class="lead" style="margin-bottom:5px;">Hi I'm </h2>
    <h3 style="margin-top: 5px;">{{ user.last_name }}, {{ user.first_name }}</h3>
    <p><i class="glyphicon glyphicon-envelope"></i> {{ user.email }}</p>
    <p>
        <a href="contact" class="btn btn-primary" role="button"><i class="glyphicon glyphicon-comment"></i> Contact</a>
        <a href="#" class="btn btn-info" role="button"><i class="glyphicon glyphicon-user"></i>My Account</a>
    </p>
    </div>
    </div>
</div>
<div class="col-md-8" style="border-left: 1px solid #ddd; min-height: 100vh;">
    <div class="row" ng-show="messages.length > 0">
        <div class="media" ng-repeat="message in messages">
            <div class="media-left media-middle">
                <a href="javascript:void(0);">
                    <i class="glyphicon glyphicon-comment"></i>
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">[{{message.subject}}] {{ message.name }} <{{message.email}}></h4>
                {{ message.message }}
            </div>
        </div>
    </div>
    <div class="row" ng-show="messages.length == 0">
        <div class="alert alert-info" role="alert">
            You <strong>don't have</strong> any messages.
        </div>
    </div>
</div>
